body {
    overflow-x: hidden;
    overflow-y: hidden;
}

@font-face {
    font-family: 'maquina';
    src: url(fonte/JMH\ Typewriter.ttf);
}

.fases img {
    display: inline-block;
    width: 150px;
    height: 150px;
    margin-top: 90px;
    margin-left: 10%;
}

p {
    margin-top: 29px;
}

.balao {
    font-family: "maquina";
    font-size: 25px;
    margin: 10% 68%;
    background: #000;
    border-radius: 30px 30px 30px 30px;
    width: 300px;
    height: 124px;
    color: #000;
    text-align: center;
    background-color: #b8b8b8;
    position: relative;
    margin-bottom: 1em;
}

.balao:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: -32px;
    border-top: 15px solid transparent;
    border-bottom: 22px solid transparent;
    border-left: 70px solid #b8b8b8;
    border-radius: 50%;
}

.modal-container .modal-content,
.modal-container .modal-backdrop {
    height: 0;
    width: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    cursor: pointer;
    transition: opacity 0.2s ease-in;
}

.modal-btn img {
    width: 222px;
    height: 222px;
    margin-top: -6%;
    float: right;
}

.modal-container .modal-close {
    color: rgb(122, 122, 122);
    position: absolute;
    right: 20px;
    top: -13px;
    padding-top: 1px;
    background: #fff;
    font-size: 16px;
    width: 25px;
    height: 25px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

.modal-container .modal-content-btn {
    position: absolute;
    text-align: center;
    cursor: pointer;
    bottom: 20px;
    right: 30px;
    background: #446CB3;
    color: #fff;
    width: 50px;
    border-radius: 2px;
    font-size: 14px;
    height: 25px;
    padding-top: 9px;
    font-weight: normal;
}

.modal-container .modal-content-btn:hover {
    color: #fff;
    background: #365690;
}

.modal-container #modal-toggle {
    display: none;
}

.modal-container #modal-toggle.active~.modal-backdrop,
.modal-container #modal-toggle:checked~.modal-backdrop {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.2s ease-in;
}

.modal-container #modal-toggle.active~.modal-content,
.modal-container #modal-toggle:checked~.modal-content {
    opacity: 1;
    background-color: #fff;
    max-width: 400px;
    width: 400px;
    height: 460px;
    padding: 10px 30px;
    position: fixed;
    left: calc(50% - 200px);
    top: 12%;
    border-radius: 4px;
    z-index: 999;
    pointer-events: auto;
    cursor: auto;
    visibility: visible;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.6);
}

@media (max-width: 400px) {
    .modal-container #modal-toggle.active~.modal-content,
    .modal-container #modal-toggle:checked~.modal-content {
        left: 0;
    }
}

.iara img {
    width: 219px;
    height: 219px;
    margin-top: -6%;
}

.balao2 {
    font-family: "maquina";
    font-size: 19px;
    margin: -7% 15%;
    background: #000;
    border-radius: 30px 30px 30px 30px;
    width: 300px;
    height: 124px;
    color: #000;
    text-align: center;
    background-color: #b8b8b8;
    position: relative;
    margin-bottom: 1em;
}

.balao2:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 275px;
    border-top: 15px solid transparent;
    border-bottom: 22px solid transparent;
    border-left: 50px solid #b8b8b8;
    border-radius: 50%;
}